.container {
    margin: 50px 0;
    width: 80%;
}

.card {
    margin: 0 2% !important;
}

.infected {
    border-bottom: 10px solid rgba(0, 0, 255, 0.6)
}

.recovered {
    border-bottom: 10px solid rgba(0, 255, 0, 0.6)
}

.deaths {
    border-bottom: 10px solid rgba(255, 0, 0, 0.6)
}

.indicemortalidad {
    border-bottom: 10px solid rgba(255, 196, 0, 0.8)
}

@media (max-width: 770px) {
    .card {
        margin: 2% 0 !important;
    }
}